.circleGreen3 {
  transform: translate3d(0px, 0px, 0px) scale3d(1.2, 1.2, 1) rotateY(30deg);
  transform-style: preserve-3d;
  position: absolute;

  width: 200px;
  height: 200px;
  background: rgba(0, 255, 0, 0.5);
  border-radius: 50%;
}

.circleGreen2 {
  transform: translate3d(-100px, 50px, 50px) scale3d(1.1, 1.1, 1) rotateY(20deg);
  transform-style: preserve-3d;
  position: absolute;
  top: 30%;
  left: 40%;
  width: 150px;
  height: 150px;
  background: rgba(0, 200, 200, 0.5);
  border-radius: 50%;
}

.circleGreen {
  transform: translate3d(100px, -50px, -50px) scale3d(1, 1, 1) rotateY(-20deg);
  transform-style: preserve-3d;
  position: absolute;
  top: 50%;
  left: 60%;
  width: 100px;
  height: 100px;
  background: rgba(200, 0, 200, 0.5);
  border-radius: 50%;
}
